<h1>Elaboración</h1>
<div>
  <ol>
    <li>
      Cortamos el atún en dados de unos 0,5 cm2 más o menos, así lo diferencias del aguacate y del  tomate
    </li>
    <li>
      Añade la ralladura de la lima, un poco de pimienta negra molida y sal al gusto.
    </li>
    <li>
      Mezcla bien con ayuda de una cuchara, tapa con papel film, y deja reposar en el frigorífico durante 20 minutos
    </li>
    <li>
      En un bol pones las tres cucharadas de aceite de oliva. Incorpora la cucharadita de salsa de soja, la cucharadita de vinagre y la cucharadita y media de mostaza antigua.  Mezcla bien con unas varillas o una cuchara hasta que emulsione.
    </li>
    <li>
      Corta el tomate ya pelado y sin pepitas en dados pequeños, tipo brounoise. Saca el aguacate de su cáscara, te puedes ayudar con el borde de una cuchara sopera es la manera más sencilla.
    </li>
    <li>
      Corta el aguacate en dados pequeños similares a los tomate, riega con el zumo de un limón o lima para que no se oxide. Mezcla en otro bol, salpimienta a tu gusto, añade unas gotas de Aceite de oliva virgen y reserva.
    </li>
  </ol>
</div>
