<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mini Recetario Brea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mini Recetario Brea</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- Tarjeta de recetario -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seleccionar:</ion-card-subtitle>
      <ion-card-title>Una receta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="success" href="/pizza-margarita" size="big" expand="full">
        <ion-icon slot="start" name="pizza"></ion-icon>
        Pizza Margarita
      </ion-button>
      <ion-button color="success" href="/tartar-atun" size="big" expand="full">
        <ion-icon slot="start" name="fish"></ion-icon>
        Tartar de Atún
      </ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>
