<h1>Elaboración</h1>
<div>
  <ol>
    <li>
      En una mesa, cierne una taza de harina, forma un volcán con ella y 
      agrega en la mitad la levadura y agua tibia, y amasa hasta formar 
      una masa manejable. Dejar fermentar por 40 minutos aproximadamente.<br/>
    </li>
    <li>
      Añade a esta masa la harina restante, una cucharadita de sal y agua 
      tibia hasta obtener una mezcla sin grumos. Divide la masa en 6 partes 
      y dejarlas reposar por una hora.<br/>
    </li>
    <li>
      Luego, une las 6 partes hasta formar una bola uniforme. Entretanto, 
      cocina en una sartén el licuado de tomates con la cebolla cabezona, 
      los dientes de ajo machacados, sal, pimienta y media cucharadita de 
      orégano. Bajar del fuego al primer hervor.<br/>
    </li>
    <li>
      Aparte, ralla el queso y adereza con sal y pimienta las rodajas de 
      tomate. Extiende la masa lo más delgada posible sobre una bandeja 
      para horno engrasada.<br/>
    </li>
    <li>
      Baña la masa con la salsa de tomate, espolvoréale suficiente queso rallado 
      y encima coloca las rodajas de tomate. Rociar el orégano restante y una 
      cucharada de aceite de oliva.<br/>
    </li>
    <li>
      Lleva la pizza al horno precalentado a temperatura media por 30 minutos. 
      Sirve inmediatamente.<br/>
    </li>
  </ol>
</div>