<ion-header>
  <ion-toolbar>
    <ion-title>Pizza Margarita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button href="../">
    <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    Volver
  </ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle><span>Pizzas</span></ion-card-subtitle>
      <ion-card-title>Pizza Margarita</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-receta-pizza-margarita></app-receta-pizza-margarita>
    </ion-card-content>
  </ion-card>
  
</ion-content>
